* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 150px;
    
}
header section > ul {
    display: flex; 
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(182, 180, 180);
}

header section > ul > li:not(#logo) {
    margin-left: 30px;
    position: relative;
}

#logo img {
    height: 30px;
}

.button-rosa {
    background-color: rgb(255, 16, 136);
    border-radius: 30px;
    color: white;
    padding: 10px 15px;
}

.fa-chevron-down {
    font-size: 10px;
}

.tendina {
    background-color: white;
    box-shadow: 0px 3px 6px 0px #dedcdc;
    position: absolute;
    top: 30px;
    left: -50px;
    right: -50px;
    padding: 15px 25px;
    display: none;
}

.tendina ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tendina ul li:not(:last-child) {
    padding-bottom: 20px;
}

.dis_block {
    display: block;
}

.nuovo {
    position: relative;
}

.nuovo p {
    position: absolute;
    right: 4px;
    bottom: 100%;
    color:  rgb(255, 16, 136);
    font-size: 12px;
    font-weight: 700;
}